body{
    background-color: #000000;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 1s;
    justify-content: center;
    display: flex;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.scroller {
    background: url("bg.png") repeat;
    animation: scrolling 45s linear infinite;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.10;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.bottom {
    position: absolute;
    bottom: 10px;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}

.itemnoclick {
    margin: 5px;
    text-align: center;
    /* pointer-events: none; */
    user-select: none;
    opacity: 0.8;
    transition: 0.3s;
    height: auto; 
    width: auto; 
    max-height: 400px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.itemnoclick:hover {
    opacity: 1;
}

.item {
    margin: 5px;
    text-align: center;
    /* pointer-events: none; */
    user-select: none;
    opacity: 0.8;
    transition: 0.3s;
    height: auto; 
    width: auto; 
    max-height: 400px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.item:hover {
    transform: scale(1.18);
    opacity: 1;
}

.item:active {
    transform: scale(2.08);
    opacity: 0;
}

:root {
    --offsety: 0%; 
    --offsetx: 100%; 
}

@keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: var(--offsetx) var(--offsety);
  }
}